:root {
  --primary: #FFD370;
  --gray: #9F9A91;
  --secondary: #333333;
  --danger: #d87355;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul, ol {
  list-style: none;

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p {
  margin: 0;
}

.text-center {
  text-align: center;
}